*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
}

main {
  padding-top: 20px;
  padding-bottom: 40px;
}
section {
  background-color: #fff;
  padding: 1.5em;
  margin-bottom: 2em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
footer {
  background-color: #333;
  color: #ccc;
  padding: 1.5em 0;
  font-size: 0.9em;
  text-align: center;
}

.button-link {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 1em;
}

button:hover {
    background-color: #45a049;
}

#about {
    text-align: center;
    padding: 20px;
}

#about p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 10px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#about .name {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer p {
    margin-top: 20px;
}

.social-links {
    margin-top: 10px;
}

#projects ul {
  list-style-position: inside;
  padding-left: 0;
  display: inline-block;
  text-align: left;
}

#projects li {
  margin-bottom: 0.8em;
}

#about p {
    font-size: 1em; 
}

.social-links a {
    color: #4D90FE; 
    text-decoration: none; 
    margin: 0 10px; 
}

.social-links a:hover {
    color: #45a049; 
} 

@media (max-width: 360px) {
    body {
        padding: 5px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
        width: 100%; 
    }
}

@media (min-width: 1921px) {
    body {
        max-width: 1400px;
    }

    main {
        padding: 40px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 20px;
    }

    button {
        font-size: 18px;
        padding: 12px 24px;
    }
}