body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

#about {
    text-align: center;
    padding: 20px;
}

#about p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 10px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#about .name {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer p {
    margin-top: 20px;
}

.social-links {
    margin-top: 10px;
}

#projects ul {
    padding-left: 25px; 
}

#projects li {
    list-style-position: inside; 
    padding-left: 0; 
    margin-left: 0; 
}

#about p {
    font-size: 1em; 
}

.social-links a {
    color: #4D90FE; 
    text-decoration: none; 
    margin: 0 10px; 
}

.social-links a:hover {
    color: #45a049; 
}